.venv/
logs/

data_engine/src/__pycache__
data_engine/folder_rename_map.csv
data_engine/mixed_series_analysis.csv

training_engine/src/__pycache__
training_engine/experiments
training_engine/datasets/

old_training_engine/__pycache__